<div>

<button pButton type="button" [id]="btnid" [label]="label"  [class]="class" [disabled]="disabled" (click)="display=true" ></button>

<p-dialog [id]="dlgid" [header]="title" [(visible)]="display" [modal]="true" [responsive]="true" [width]="200" [minWidth]="200" [minY]="70" 
[baseZIndex]="10000">
<span>{{message}}</span>
<p-footer>
    <button id="btnok" type="button" pButton icon="pi pi-check" (click)="confirmation()" label="Yes"></button>
    <button id="btnno" type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog> 

</div>